<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>サンプル</title>
    <link rel="stylesheet" href="main.css">
    <style>
        .ball {
            position: absolute;
        }
        .capitalize {
            text-transform: capitalize;
        }
    </style>
</head>
<body>
    <script src="https://jp.vuejs.org/js/vue.js"></script>

    <div id="app">
        {{ price }}円 <span v-if="price < 1000">セール実施中！</span>
        <span v-if="stock >= 1">残り {{ stock }}個です</span>
        <span v-else>在庫切れです</span>
        {{ price }}円 <span v-show="price < 1000">セール実施中！</span>
        
        {{ price | unit }} {{ price | number_format | unit }}
    </div>
    
<script> 


    var app = new Vue ({
        el: '#app',
        data: {
            price: 1080,
            stock: 0
        },
        filters: {
            // 金額を3桁カンマ編集するフィルター
            number_format: function(val) {
                return val.toLocaleString();
            },
            // 金額の後ろに単位を付けるフィルター
            unit: function(val) {
                return val + '円';
            }
        }
    });


</script>
</body>
</html>